<div class="masthead">
  
  <nav class="language-nav">
    <ul>  
      <li><a id="first-link-bold" href="">CSS</a></li> 
      <li><a href="#">HTML</a></li> 
      <li><a href="#">Javascript</a></li> 
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <ul class="masthead-links">
    <li>
      Tuesday, October 18, 2016
    </li>
    <li>
      <a href="#"><i class="far fa-newspaper"></i>Today’s Paper</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-video"></i>Video</a>
    </li>
    <li class="gray">
      77°F
    </li>
    <li class="gray">
      AAO <strong>+100%</strong>
    </li>
  </ul>

</div>